/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic);
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    font-family: 'Source Sans Pro';
    
  /*background: url(https://images.unsplash.com/photo-1442188950719-e8a67aea613a?fit=crop&fm=jpg&h=800&ixlib=rb-0.3.5&q=80&w=1200);*/
    background-attachment: fixed;
    background-size: cover;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(249,249,249,0.2)!important inset;
}
::-webkit-input-placeholder {color:#5A5A5A!important;}
::-moz-placeholder          {color:#5A5A5A!important;}/* Firefox 19+ */
:-moz-placeholder           {color:#5A5A5A!important;}/* Firefox 18- */
:-ms-input-placeholder      {color:#5A5A5A!important;}
.card-container.card {
    max-width: 350px;
    padding: 0px 0px;
}
.reg-container.card {
    max-width: 550px;
    padding: 0px 0px;
}

#reg{
  max-width: 750px!important;
}

.btn {
    font-weight: 600;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


/*
 * Card component
 */
.card {
    background-color: rgba(247, 247, 247, 0.3);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input{
        background: rgba(249,249,249,0.5);
        color: #1F1F1F;


}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #111;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    top: 15px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #212121;
}
#header{
  background-color: #0AA556;
  font-size: 36px;
  font-weight: 300;
    text-align: center;
    line-height: 65px;
        border-bottom: solid 3px #292929;
}
#content{
  padding: 20px;
  padding-bottom: 50px;

}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: rgba(0, 166, 90, 0.39) !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: rgba(221, 75, 57, 0.38) !important;
}
#link{
    float: right;
    margin-top: -28px;
    float: right;
    /* font-size: 1.1em; */
    color: #F7F7F7!important;
    background-color: #d73925!important;
    padding: 4px;
     border-left: solid 2px #292929;
}
#link:hover{
   background-color: #B92F1D!important;
}